
body {
  background: #ffffff;
}

.loadingclass {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: aliceblue;
  font-family: sans-serif;
  text-align: center;
   height: 100px;
   width: 300px;
   
   
}

.App {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: aliceblue;
  font-family: sans-serif;
  text-align: center;
   height: 150px;
   width: 70%;
}
.videoBox {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: #fff;
  font-family: sans-serif;
  text-align: center;
  height: 300px;
  width: 400px;
}

h1 {
  color: #464646;
  margin: 0 0 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.dropdown-toggle.noCaret:after {
  display: none;
}

.dropdown-menu.show {
  background-color: #5a6268;
  padding:0px;
}

.dropdown-item.dropdownStyle {
  color: #fff;
  background-color: #5a6268;
}

.ten {
  width: 10%;
}

.imgDimensions {
  width: 60px;
  height: 60px;
}

.playlistDropdown button {
  background-color: #5a6268;
  border: none;
}

.playlistDropdown.show>.btn-secondary.dropdown-toggle {
  background-color: #5a6268;
  border: none;
}

.playlistDropdown.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.playlistDropdown.show>.btn-secondary:focus {
  background-color: #5a6268;
  border: none;
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}